APP_DOMAIN=mutualfundsgalathai.co.in
FRONTEND_URL=https://mutualfundsgalathai.co.in
NEXT_PUBLIC_API_URL=/api

POSTGRES_USER=mutual_funds
POSTGRES_PASSWORD=change_this_to_a_long_random_password
POSTGRES_DB=mutual_funds

GROQ_API_KEY=gsk_replace_me
ALLOW_GROQ_FACTS=false
